@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter";
}

.font-spec {
  font-family: 'Outfit';
}

.scroll-thin::-webkit-scrollbar {
  width: 10px;
}

.scroll-thin::-webkit-scrollbar-thumb {
  @apply bg-zinc-300
}